*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.4;
    margin: unset;
    --animation-duration: 0.3s;
    -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img,
picture,
svg,
canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

body {
    font-family: system-ui, Avenir, sans-serif;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2.5em;
    padding: 1em;
}

.controls {
    display: flex;
    justify-content: space-between;
}


ui-bar-area {

    padding: 2em 0;

    &:not([horizontal]) {
        .label {
            container: label / inline-size;
            white-space: nowrap;

            > span {
                transform-origin: 0 0;
                transition: transform var(--animation-duration);
            }
        }
    }

    &[horizontal] {
        ui-bar {
            container: horizontal-bar / size;
            span {
                writing-mode: horizontal-tb;
            }
        }
    }

    &::part(category-axis) {
        font-size: 0.75em;
    }
}


ui-bar {
    transition: block-size var(--animation-duration);
    color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    container: ui-bar / size;

    span {
        padding: 0.2em 0.5em;
        font-size: 0.9em;
        transition: transform var(--animation-duration);
    }
}

ui-bar-group {
    &:not([stack]) {
        padding-inline: 10px;
        border-inline: 1px dashed lightgray;
    }

    ui-bar:nth-child(2) {
        background-color: lightcoral;
    }
}
