::part(linear-axis){
    font-size: 0.8em;
    block-size: var(--axis-size);
    align-self: flex-end;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

::part(bar-area) {
    border-inline-start: 1px solid lightgray;
    border-block-end: 1px solid lightgray;
}

.tick-box:not(:first-child) {
    block-size: 1px;
    background-image: linear-gradient(to right, transparent, gray);
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position: right;
    inline-size: 3em;
    text-align: right;
    margin-inline-start: auto;

    > span {
        width: 100%;
        display: inline-block;
    }
}

.tick-box:first-of-type {
    background: none;
}

ui-bar-area[horizontal] .tick-box > span {
    rotate: -45deg;
    translate: -0.5em -0.5em;
}

.controls:has(#axis-checkbox:not(:checked)) {
    & + ui-bar-area::part(linear-axis) {
        display: none;
    }

    & + ui-bar-area::part(bar-area) {
        border-inline-start: unset;
    }
}

@container ui-bar (width < 3em) or (height < 2em) {
    span {
        --_bubble-size: 75%;
        background: inherit;
        padding: 0.2em 0.5em 0.5em 0.5em !important;
        transform: translateY(-2.2em);
        clip-path: polygon(0 0%, 0 var(--_bubble-size), 50% 100%, 100% var(--_bubble-size), 100% 0%);
    }
}

@container horizontal-bar (width < 3em) or (height < 1em) {
    span {
        --_arrow-size: 1em;
        background: inherit;
        padding-inline-start: 1em !important;
        transform: translateX(calc(100% + 0.2em));
        clip-path: polygon(0 50%, var(--_arrow-size) 0, 100% 0, 100% 100%, var(--_arrow-size) 100%);
    }
}

@container ui-bar (width < 1px) or (height < 1px) {
    span {
        display: none;
    }
}

@container horizontal-bar (width < 1px) {
    span {
        display: none;
    }
}

@container label (max-width: 5em) {
    span {
        transform: translateX(30%) rotateZ(45deg);
    }
}
